{% extends "layouts.app" %}

{% block content %}

    <div class="pt-5 bg-light">
        <div class="container-fluid">
            {% include 'home/widgets/latest_listings' with {
                'widget': { 'title': 'Latest listings', 'alignment': 'left' },
                'config': { 'limit': 5 }
            } %}
        </div>
    </div>
    <div class="pt-5 bg-white">
        <div class="container-fluid">
            {% include 'home/widgets/category_listing' with {
                'widget': { 'title': 'Categories', 'alignment': 'center' }
            } %}
        </div>
    </div>

    <div class="pt-5 bg-light">
        <div class="container">
            <div class="row justify-content-center mt-3">
                <div class="col-12 mb-3">
                    <h4 class=" pb-3 text-center">Why you should join us</h4>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4 col-12 mb-3 text-center">
                <div class="col-10 offset-1 text-center">
                    <span class="text-success display-3 fas fa-people-carry"></span>
                    <h5 class="truncate mt-3">For Volunteers</h5>
                    <p>If you have time available to help, browse existing requests and find something you like.</p>
                    </div>
                </div>
                <div class="col-sm-4 col-12 mb-3 text-center">
                    <div class="col-10 offset-1 text-center">
                        <span class="text-success display-3 fas fa-toolbox"></span>
                        <h5 class="truncate mt-3">For Makers</h5>
                        <p>Got a 3D printer or other making tools and willing to help? Or got 3D printed visors ready to ship? Great, post a listing with details.</p>
                    </div>
                </div>
                <div class="col-sm-4 col-12 mb-3 text-center">
                    <div class="col-10 offset-1 text-center">
                        <span class="text-success display-3 fas fa-users"></span>
                        <h5 class="truncate mt-3">For Communities</h5>
                        <p>Need volunteers or materials? Find existing listings or post a request.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
